
.navbar {
    background: #2C2C2C;
    color: white;
    border: none;
    border-top: 5px solid #A30000;
    border-radius: 0px;
    padding-bottom: 0;
    padding-top: 0;
    height: 50px;
    margin-bottom: 20px;
}

.navbar .navbar-brand {
    color: #999999;
}

.navbar .dropdown-menu {
    background: #2C2C2C;
    color: white;
    border: none;
}

.navbar .dropdown-menu .dropdown-item {
    color: white;

}

.navbar .dropdown-menu .dropdown-item:hover, .navbar .dropdown-menu .dropdown-item:focus {
    background: #999999;
}

.navbar .dropdown-menu:hover, .navbar .dropdown-menu:focus {
    background: #999999;
}


/*body {*/
/*  background: url("../img/grid.png") repeat-x;*/
/*  background-attachment: fixed;*/
/*}*/

.card {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 10px;
}

.material-icons {
    vertical-align: middle;
}


.copy-segment:hover, .copy-segment.hover {
    z-index: 1;
    background-color: #1e7e34!important;
}
